body{
    margin: 0;
}

.header{
    background-image: url(/imgs/choc.jpg);
    height: 500px;
    background-size: cover;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.header_contain h2{
    padding-left: 50px;
    color: white;
}

.header_contain nav a{
    padding: 20px;
    text-decoration: none;
    color: white;
}

.vision_container{
    text-align: center;
    padding-top: 20px ;
    color: white;
}

.vision_container h2{
    font-style:inherit;
}

.main{
    height: 100px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box{
    margin-left: 100px;
}

.box img{
    width: 180px;
    clip-path: circle();
}

.box p{
    padding-top: 10px;
    padding-left: 40px;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main3{
    padding-top: 50px;
}

.bg_grid_left{
    background-color: wheat;
    width: 100%;
    height: 600px;
}

.bg_grid_left h3{
    padding-top: 20px;
    padding-left: 20px;
    color: darkred;
}



.bg_grid_right{
    background-size: cover;

}

.bottom{
    height: 100px;
}

.bottom h3{
    padding-left: 60px;
}

.flex3{
    display: flex;
    justify-content: flex-end;
}

.box5{
    background-color: chocolate;
}

.box5 p{
    padding-left: 1px;
    padding-right: 80px;
}

.slogan{
    text-align: center;
}

/* ABOUT */
.top_contain{
    text-align: center;
    padding-top: 20px;
}

.top{
    background-image: url(/imgs/img_bg.jpg);
    height: 160px;
}

.main{
    text-align: center;
    margin: 50px;
}

.main2{
    text-align: center;
    margin: 50px;
}

.text{
    margin: 100px;
}

.grid_about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box_ab{
    margin-top: 200px;
    margin-left: 90px;
}


/* contact page*/
.header_contact{
    background-image: url(/imgs/contact.jpg);
    height: 500px;
    background-size: cover;
    margin: 10px;
    color: wheat;
    
}

.main_contact{
    margin-left: 40px;
}

.grid_contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}